.container {
    max-width: 900px;
    margin: auto;
}

.row,
.row-2 {
    display: flex;
    margin-top: 10%;
}

.product-info {
    padding-left: 10%;
}

.product-title {
    font-size: 17px;
    padding-top: 5%;
}


.cat-image {
    padding-left: 10%;
}
