@media  (max-width:600px) {
    
    .products {
        display: inherit;
        height: auto;
    }

    .product {
        margin-top: auto;
    }
    
    .main-section {
        padding: 4%;
    }

    .home,
    .mentions {
        display: inherit;
    }

    
}